html{
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
}

body {
    background-color:#0984e3;
    color: #000000;
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
  }

  ::-webkit-scrollbar {
    width: 10px;

  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #545454;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #3d3d3d;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #272727;
  }
  nav{
    font-family: 'Montserrat', sans-serif;
    position: fixed;
    width: 100%;
    height: 50px;
    background-color:white;
    color: #000000;
    text-align: center;
    font-size:20px;
    font-weight: bold;
    letter-spacing: 1px;
    z-index: 5;
  }
  .dibujo{
    margin: 0;
    width: 5%;
    height: 50px;
    float: left;
  }
  nav h1{
    margin: 0;
    height: 50px;
    float: left;
  }
  .vacio{
    width: 34%;
    height: 50px;
    float: left;
  }
  .item {
    line-height: 50px;
    margin: 0;
    height: 50px;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    transition: background-color 0.4s ease, box-shadow 0.4s ease;
    width: 18%;
    position: relative;
    overflow: hidden;
  }
  
  .item::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: rgba(255, 255, 255, 1);
    transition: width 0.4s ease;
    transform: translateX(-50%);
  }
  
  .item:hover {
    background-color: rgba(150, 150, 150, 0.827);
  }
  
  .item:hover::before {
    width: 100%;
  }
  .item:hover a {
    color: white;
  }
  
  h1 {
    font-size: 24px;
    margin-top: 40px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  p {
    margin: 20px;
    text-align: justify;
  }
  
  .menu {
    font-family: 'Montserrat Alternates', sans-serif;
    position: fixed;
    width: 100%;
    height: 50px;
    background-color: rgba(209, 54, 54, 1);
    color: #000000;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 2px;
    z-index: 5;
  }

  .img_logo{
    position: absolute;
    top: 3px;
    left: 2%;
    padding-left: 10px;
    padding-right: 10px;
    width: 45px;
    aspect-ratio: 328/312;
  }

  a{
    text-decoration: none;
    color: #000000;
    transition: color 0.4s ease;
  }

  a:hover{
    color: #ffffff;
  }
  

  .buscador_apellido {
    position: absolute;
    margin-top: 220px;
    left: 25%;
    transform: translateX(-50%);

  }

  .buscador_fecha {
    position: absolute;
    margin-top: 220px;
    left: 25%;
    transform: translateX(-50%);
  }

  .buscador_datos {
    position: absolute;
    margin-top: 75px;
    left: 25%;
    transform: translateX(-50%);
  }
  
  
  .resultados_asistencias {
    position: absolute;
    left: 70%;
    top: 100px;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -0%);
    width: 800px;
    height: autos;
  }

  .resultados_datos_profes { 
    position: absolute;
    left: 35%;
    top: 300px;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -0%);
    width: auto;
    height: auto;
    max-height: 350px; /* Establece la altura máxima para mostrar la barra de desplazamiento */
    overflow-y: auto; /* Habilita la barra de desplazamiento vertical */
  }

  #resultados_parte_profes { 
    position: absolute;
    left: 80%;
    top: 300px;
    padding-left: 35px;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -0%);
    width: auto;
    height: auto;
    max-height: 350px; /* Establece la altura máxima para mostrar la barra de desplazamiento */
    overflow-y: auto; /* Habilita la barra de desplazamiento vertical */
  }

  table {
    font-family: 'Montserrat', sans-serif;
    background-color: #dddddd;;
    width: 100%;
    font-size: 12px;
    border: 2px solid rgba(150, 150, 150, 0.827);
    border-radius: 0px;
  }
  
  th, td {
    border: 0px;
    text-align: center;
    padding: 15px;
  }
  
  th {
    border: 0px;
    background-color: #a3a3a3;
    background-color: #f2f2f2;
    position: sticky; /* Hace que el encabezado sea pegajoso */
    top: 0; /* Fija el encabezado en la parte superior */
  }
  
  tr {
    border: 0px;
    background-color: #dddddd;
  }

  form {
    background-color:rgba(150, 150, 150);
    font-family: 'Montserrat Alternates', sans-serif;
    padding: 20px;
    border-radius: 0px;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
  }

  select{
    border: none;
    padding: 5px;
    margin-bottom: 10px;
    background-color: #a3a3a3;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
  }
  
  input {
    border: none;
    border-bottom: 2px solid #091E3E;
    padding: 5px;
    margin-bottom: 10px;
    background-color: #a3a3a3;
  }

  input[type="date"] {
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: bold;
  }

  input[type="text"] {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
  }
  
  button {
    background-color: #091E3E;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 2px;
    cursor: pointer;
    transition: transform 0.4s ease-in-out;
    font-family: 'Montserrat Alternates', sans-serif;
  }

  button:hover{
    /* background-color: #091E3E; */
    color: white;
    transform: scale(1.05);
  }

  .seleccion{
    position: absolute;
    margin-top: 75px;
    left: 25%;
    transform: translateX(-50%);
    width: auto;
    height: auto;
    padding: 20px;
    background-color: #a3a3a3dc;
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: bold;
  }

  .boton_apellido{
    background-color: #091E3E;
    border: none;
    color: white;
    padding-top: 10px;
    padding-bottom:10px;
    text-decoration: none;
    margin-right: 4px;
    cursor: pointer;
    text-align: center;
    border-radius: 2px;
    width: 120px;
    font-family: 'Montserrat Alternates', sans-serif;
  }

  .boton_fecha{
    background-color: #091E3E;
    border: none;
    color: white;
    padding-top: 10px;
    padding-bottom:10px;
    text-decoration: none;
    margin-left: 4px;
    margin-right: 4px;
    cursor: pointer;
    text-align: center;
    border-radius: 2px;
    width: 120px;
    font-family: 'Montserrat Alternates', sans-serif;
  }

  .seleccion_materias{
    position: absolute;
    margin-top: 75px;
    left: 25%;
    transform: translateX(-50%);
    width: auto;
    height: auto;
    padding: 20px;
    background-color: #a3a3a3dc;
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: bold;
  }

  .seleccionada {
    background-color: #333;
    color: #fff;
    height: 44px;
  }
  

/* boton de añadir(abajo a la derecha) */

.wrapper {
  position: absolute;
  top: 94%;
  left: 97%;
  transform: translate(-50%, -50%);
  width: 60px;
  height: 60px;
  --black: #000000;
  --ch-black: #141414;
  --eer-black: #1b1b1b;
  --night-rider: #2e2e2e;
  --white: #ffffff;
  --af-white: #dfdfdf;
  --ch-white: #b4b4b4;
}

footer .demo {
  position: absolute;
  bottom: 10px;
  width: 500px;
  margin: 0 auto;
}

footer .demo a {
  text-align: center;
  color: #000;
  text-decoration: none;
  font-weight: 100;
  border-bottom: 1px solid #000;
}

.circle {
  display: block;
  position: relative;
  padding: 0;
  z-index: 98;
  margin: 0 auto;
  -webkit-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  height: 60px;
  width: 60px;
  background-color: var(--white);
  transition: 0.2s;
  text-align: center;
}

.circle:active {
  transform: scale(0.9);
  box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.3);
}

.circle:hover {
  cursor: pointer;
  background-color: var(--af-white);
  box-shadow: 0 8px 15px 0 rgba(0, 0, 0, 0.3);
}

.circle .svg {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -15px;
  margin-top: -15px;
  width: 30px;
  height: 30px;
  transition: 0.5s;
  transform: rotate(180deg);
}

.circle svg image {
  filter: brightness(50%);
}

.sub-circle {
  z-index: 0;
  position: absolute;
  height: 40px;
  width: 40px;
  overflow: hidden;
  border-radius: 50%;
  transition: 0.3s;
  transform: scale(0.5);
  opacity: 0;
  padding: 0;
  margin: 0;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  border: none;
  text-align: center;
  background-color: var(--af-white);
}
.sub-image {
  max-width: 50%;
  max-height: 50%;
  display: block;
  margin: 0 auto;
}

.sub-circle label {
 
  display: block;
  color: white;
  width: 100%;
  height: 100%;
  line-height: 40px;
  transition: .5s;
}

.sub-circle label:hover {
  cursor: pointer;
  background-color: var(--ch-white);
}

.subs {
  left: -20px;
  top: -50px;
  width: 40px;
  height: 40px;
  text-align: center;
  z-index: 0;
  margin: 0 auto;
  position: relative;
}

.hidden-sub-trigger {
  display: none;
}

.hidden-sub-trigger:checked ~ label {
  background-color: var(--white);
}

.hidden-trigger {
  display: none;
}

.hidden-trigger:checked ~ .circle {
  transform: scale(0.9);
  cursor: pointer;
  background-color: black;
  box-shadow: 0 8px 15px 0 rgba(0, 0, 0, 0.1);
}

.hidden-trigger:checked ~ .circle .svg {
  transform: rotate(45deg);
}

.hidden-trigger:checked ~ .subs button:nth-of-type(1) {
  transform: translate(0px, -100px) scale(1);
  opacity: 1;
  transition: 0.1s;
}

.hidden-trigger:checked ~ .subs button:nth-of-type(3) {
  transform: translate(-75px, -75px) scale(1);
  opacity: 1;
  transition: 0.3s;
}

.hidden-trigger:checked ~ .subs button:nth-of-type(2) {
  transform: translate(-100px, 0px) scale(1);
  opacity: 1;
  transition: 0.5s;
}

.tabla_datos td input {
  border: none;
  background-color: #a3a3a3;
  width: 100px;
}

tr.fila-no-editable {
  pointer-events: none; /* Deshabilitar la interacción con las filas no editables */
  opacity: 0.5; /* Cambiar la opacidad para indicar que no se pueden seleccionar */
}

.añadir_profe{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  height: auto;
  display: none;
}